@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: hidden;
}

.tooltip-container {
  min-width: 24rem;
  max-width: 40%;
  word-wrap: break-word;
}

input[type="search"]::-webkit-search-decoration:hover,
input[type="search"]::-webkit-search-cancel-button:hover {
  cursor: pointer;
}

.code-editor a:hover {
  text-decoration: underline;
}
